{% extends "default.html" %}

{% block content %}
<h1 class="h3">DMCA Takedown Request</h1>
<p>At Ruqqus, we value your rights, including both your freedom of speech, and your intellectual property rights. If a post or comment on Ruqqus violates your intellectual property rights (or links to such a violation), use this form to submit a DMCA takedown request.</p>

<form action="api/dmca-submit" method="post" id="dmca-submission" autocomplete="off">
<input type="hidden" name="formkey" value="{{ v.formkey }}">

<h4>Part 1: Your information</h4>

<label for="email">Email</label><br>
<input id="email" name="email" value="{{ v.email }}" readonly="readonly" disabled><br><br>

<label for="username">Ruqqus username</label><br>
<input id="username" name="username" value="{{ v.username }}" readonly="readonly" disabled><br><br>

<label for="realname">Your full legal name.</label><br>
<div>You must use your full legal name. Nicknames, usernames, stage names, abbreviations, etc. are not accepted and will result in rejection of your request.</div><br>
<input id="realname" name="realname" required><br><br>

<label for="address">Your full legal address</label><br>
<div>Your residental address, not your mailing address (no PO boxes).</div><br>
<textarea form="dmca-submission" id="address" name="address" required></textarea><br><br>

<h4>Part 2: The copyrighted work</h4>

<label for="work-description">Describe the copyrighted work</label><br>
<div>Include, at minimum, the work title and date of publication.</div><br>
<textarea form="dmca-submission" id="work-description" name="work-description" required></textarea><br><br>

<label for="work-owner">Who is the copyright owner?</label><br>
<input type="radio" name="work-owner" value="Me"> Me<br>
<input type="radio" name="work-owner" value="A company, client, or organization that I represent"> A company, client, or organization that I represent<br>
<input type="radio" name="work-owner" value="Someone else"> Someone else<br><br>

<label for="owner-details">If you selected "A company, client, or organization that I represent" or "Someone else" above, provide additional information about the copyright owner.</label><br>
<textarea form="dmca-submission" id="owner-details" name="owner-details"></textarea><br><br>

<h4>Part 3: Alleged Violations</h4>

<label for="ruqqus-links">Provide link(s) to the allegedly infringing Ruqqus content</label><br>
<textarea form="dmca-submission" id="ruqqus-links" name="ruqqus-links" required></textarea><br><br>

<h4>Part 4: Legal Statements</h4>

<div>To submit a DMCA takedown request, you must read and agree to the following statements.</div><br>

<input type="checkbox" name="agree-goodfaith" value="1" required>I have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.<br>
<input type="checkbox" name="agree-accuracy" value="1" required>I state that the information in this notification is accurate, and under penalty of perjury, that I am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.<br>
<input type="checkbox" name="agree-terms" value="1" required>I understand that abuse of this form may lead to the suspension of my Ruqqus account.<br><br>

<label for="signature">Signature</label>
<div>By typing your full name below, you are providing us with your digital signature, which is as legally binding as your physical signature. Please note that your signature must exactly match the full name entered at the top of this form.</div>
<input type="text" id="signature" name="signature">

<input type="submit" value="Send DMCA Takedown Request">

</form>
{% endblock%}