{% extends "default.html" %}

{% block title %}
<title>Add Submission</title>
<meta name="description" content="Make a submission">
{% endblock %}

{% block adminpanel %}
{% endblock %}

{% block content %}
<h2>Submit</h2>
<h1 class="h2">Submit a post</h1>
                <p class="text-muted">The first step to making a quality post is choosing an interesting title!</p>

                <div class="bg-white border-sm rounded-md">

                <!-- Submission type toggle -->

                <div class="flex-row tab-bar sticky d-none d-md-flex">

                    <ul class="nav post-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active text-uppercase" href="#">Text Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">Link</a>
                        </li>
                    </ul>

                </div>


                <div class="row no-gutters">

                    <div class="col-12">

                        <div class="submission p-3">

                            <form action="/signup" method="post">

                                <input type="hidden" name="formkey" value="6c7963988201321621da247c28cb3972">
                                <input type="hidden" name="now" value="1563891643">

                                <label for="title" class="mt-3">Post Title</label>

                                <input class="form-control border" id="title-register"
                                    aria-describedby="titleHelpRegister" type="text" name="title" required>
                                <small id="titleHelpRegister"
                                    class="form-text font-weight-bold text-muted d-none mt-1">Minimum of 10 characters
                                    required.</small>
                                <small id="titleHelpSuccess"
                                    class="form-text font-weight-bold text-success d-none mt-1">That title is set to
                                    jet!
                                </small>

                                <label for="URL" class="mt-3">URL</label>

                                <input class="form-control border" id="URL" aria-describedby="URLHelp" type="url"
                                    name="URL" required>

                                <label for="body" class="mt-3">Text</label>

                                <div class="input-group">
                                    <textarea class="form-control border" aria-label="With textarea"
                                        placeholder="Enter any text here. This is optional!" rows="7"></textarea>
                                    <div class="bg-light text-format">
                                        <small class="format"><i class="fas fa-bold"></i></small>
                                        <small class="format"><i class="fas fa-italic"></i></small>
                                        <small class="format"><i class="fas fa-quote-right"></i></small>
                                        <small class="format"><i class="fas fa-link"></i></small>
                                    </div>
                                </div>

                                <input class="btn btn-primary login mt-3" type="submit" value="Make a Ruqqus">

                            </form>



                        </div>
                    </div>
                </div>
                </div>

{% endblock %}
